<a href="https://colab.research.google.com/github/ZiyueLiu-zl3472/week-9/blob/main/Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Comprehension
[Video](https://drive.google.com/file/d/119xERT3_QqIzec6csrVuYjbnel-PheEC/view?usp=sharing)

- Using a for loop to iterate through a list.

In [5]:
nums = [1,2,3,4,5,6,7,8,9,10]

my_list = [] #create a new list one element at a time
for n in nums:
  my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Using a for loop to square all the elements in the list.

In [2]:
my_list = []
for n in nums:
  my_list.append(n*n)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- Using a map + lambda

In [6]:
my_list = list(map(lambda n: n*n, nums)) #same thing as above
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- List comprehensions are another notation for defining lists. They mimic the mathematical notation of “set comprehensions” and have a concise syntax.
- In one step, list comprehensions can perform the combined operation of any filter and map.

```
[ <expresion> for <element> in <list>]
```

In [7]:
[n*n for n in nums] #functional value, element, list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- We only square the element in the list if the element is even.

In [8]:
my_list = []
for n in nums:
   if n%2 == 0:
     my_list.append(n)
print(my_list)

[2, 4, 6, 8, 10]

- We can also use list comprehension. The syntax for if conditions in the list comprehension is as follows.
```
[ <expresion> for <element> in <list> if <boolean>]
```

In [9]:
[n*n for n in nums if n%2 == 0]

[4, 16, 36, 64, 100]

- Consider the list comprehension that squares even element in a list and adds two to every odd element, as follows:

In [10]:
[ x*x if x%2 == 0 else x+2 for x in [1, 2, 3, 4, 5] ]

[3, 4, 5, 16, 7]

### Homework
- Define a function `list_comp(input_list)`, that uses list comprehension to assign `a` to the numbers greater than 8; `b` to the numbers less or equal to 8 and greater than 5; `c` to everything else.
- You can assume that all the elements in the `input_list` are integers.
  - E.g. `list_comp(range(1, 11))` => `['c', 'c', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a']`

In [11]:
def list_comp(input_list):
    return ['a' if x > 8 else 'b' if x > 5 else 'c' for x in input_list]

list_comp(range(1, 11))

['c', 'c', 'c', 'c', 'c', 'b', 'b', 'b', 'a', 'a']