<a href="https://colab.research.google.com/github/ZiyueLiu-zl3472/week-9/blob/main/Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## `map` operator
[Video](https://drive.google.com/file/d/10_LeRV_HIk-anLAmPnIS0Zp_ZArdN1Xc/view?usp=drive_link)

- Create an example list

In [1]:
data = list(range(40,46))
data

[40, 41, 42, 43, 44, 45]

- Create a function (FizzBuzzï¼‰

In [2]:
def fizz_buzz(x):
    if x % 3 == 0 and x % 5 == 0:
        return 'fizzbuzz'
    elif x % 3 == 0:
        return 'fizz'
    elif x % 5 == 0:
        return 'buzz'
    else:
        return x

- It wouldn't work if you put list into function directly.
- **You need put the data in function one by one**

In [3]:
fizz_buzz(data) #this function is looking for 1 x, but data is a list

TypeError: unsupported operand type(s) for %: 'list' and 'int'

- Normal way to put list into function (using append and for loop)

In [3]:
newlist = [] #create new for loop and for each x append results from fizzbuzz on x - for loop doing the loop
for x in data:
  newlist.append(fizz_buzz(x)) #each x is taking each of the element of the data list, turning into single item
newlist

['buzz', 41, 'fizz', 43, 44, 'fizzbuzz']

- Simplify the above equation into one line

In [5]:
[fizz_buzz(x) for x in data] #comprehension

['buzz', 41, 'fizz', 43, 44, 'fizzbuzz']

- Use `map()` function to put list into function by one line
- The map formula takes two parameters, the formula and the data
- You have to use the list() to turn the result of the map formula into a list

In [6]:
list(map(fizz_buzz, data)) #2 arguments, first is function, second is a piece of data - list, apply this function to each element of list, turn it back to a new list

['buzz', 41, 'fizz', 43, 44, 'fizzbuzz']

In [7]:
map(fizz_buzz, data) #return a pointer to a list

In [8]:
list(map(fizz_buzz, data))

['buzz', 41, 'fizz', 43, 44, 'fizzbuzz']

### Homework
- Define a function called `max_val(input_list)` that takes a nested list `input_list` and return the maximum value of each inner list.
   - E.g. `L = [[1,2,5], [4,3,3], [1,7,6]]` `max_val(L) => [5,4,7]`

In [4]:
def max_val(x):
  return max(x)

L = [[1,2,5], [4,3,3], [1,7,6]] #first element (0th element):[1,2,5], second element (1st element)[4,3,3], third element (2nd element)[1,7,6]
max_val(L[0]) #the max in the first element

5

In [12]:
def max_val(input_list):
    return max(input_list)

L = [[1,2,5], [4,3,3], [1,7,6]]
list(map(max_val, L))

[5, 4, 7]